.cardWrap{
    max-width: 500px;
    padding: 0 25px;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 12px;
}


.headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
    margin: 0;
}
.descrWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.descrWrap p{
    margin: 0;
}

.name{
    display: flex;
    align-items: baseline;
}
.lang{
    margin-left: 15px;
    margin-right: 10px;
}
.item{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.itemWrap{
    display: flex;
    align-items: center ;
}
.imgStar{
    margin-right: 7px;
}
.footerWrap{
    margin-top: 10px;
    padding-bottom: 25px;
}
.wrong{
    background-color: brown;
}



